{% extends 'basic/base.html' %}

{% block content %}
<div class="row-fluid">
    <div class="col-md-6 offset-md-3 mt-5 mb-2 text-center">
        <h1>Вход</h1>
    </div>
    <div class="text-center col-md-6 offset-md-3">
        {% if form.errors %}
        <p>Неверное имя пользователя или пароль</p>
        {% endif %}
    </div>
    <div class="text-center col-md-6 offset-md-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary text-center">Войти</button>
        </form>
    </div>
</div>

{% endblock %}