{% extends 'basic/base.html' %}

{% block additional_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<h1>Рейтинг</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="rating">
        <div class="container d-flex justify-content-center mt-200">
            <div class="row">
                <div class="col-md-12">
                    <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star" />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" />
                            <label class="star star-1" for="star-1"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn" type="submit">Сохранить</button>
</form>
{% endblock %}
