<div class="text-justify">
    <div class="row-fluid">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mt-5">Активные заказы</h2>
            <table class="text table">
                <tbody>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Стоимость</th>
                        <th>Посмотреть</th>
                    </tr>
                    {% for order in pending_orders %}
                        <tr>
                            <td>{{ order.title }}</td>
                            <td>{{ order.description }}</td>
                            <td>{{ order.price }}</td>
                            <td><a class="btn btn-primary" href="{% url 'freelance:order-detail' order.pk %}">Посмотреть</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="mt-5 mb-5">
                {% if pending_orders.has_other_pages %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if pending_orders.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pending_orders.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&lsaquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in pending_orders.paginator.page_range %}
                            <li class="page-item{% if page_num == pending_orders.number %} active{% endif %}">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endfor %}

                        {% if pending_orders.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pending_orders.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pending_orders.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>