{% extends 'basic/base.html' %}

{% block title %}Список Заказов{% endblock %}

{% block content %}
<h1>Список Заказов</h1>
<div templates/freelance/orders/order_list.htmlclass="orders">
    {% for order in orders %}
    <div class="order">

        <div>
            <a class="btn btn-info" href="{% url 'freelance:order-detail' order.pk %}">{{ order.title }}</a>
        </div>
        <p>{{ order.service.description }}</p>
        <p>Тип заказа: {{ order.get_order_type_display }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}